{% extends 'base.twig' %}

{% block content %}
	<h1>{{ title }}</h1>
	<div id="breadcrumbs">
	{%- for breadcrumb in breadcrumbs -%}
		<span class="bc-component">{{ _t.breadcrumbs[breadcrumb] ?? breadcrumb }}</span>
		{%- if not loop.last %}<span class="bc-sep"> &gt; </span>{% endif -%}
	{%- endfor -%}
	</div>
	{{ content|markdown }}
{% endblock content %}
